.container{
    width: 40%;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px){
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 480px){
    .container {
        width: 100%;
    }
}